@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon/icomoon.eot?an0adj');
  src:  url('../fonts/icomoon/icomoon.eot?an0adj#iefix') format('embedded-opentype'),
    url('../fonts/icomoon/icomoon.ttf?an0adj') format('truetype'),
    url('../fonts/icomoon/icomoon.woff?an0adj') format('woff'),
    url('../fonts/icomoon/icomoon.svg?an0adj#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chat:before {
  content: "\e901";
  color: #7e7e7e;
}
.icon-email-send:before {
  content: "\e902";
  color: #fff;
}
.icon-like:before {
  content: "\e904";
  color: #7e7e7e;
}
.icon-loupe:before {
  content: "\e905";
}
.icon-no-like:before {
  content: "\e906";
  color: #7e7e7e;
}
.icon-pen-tool:before {
  content: "\e907";
  color: #fff;
}
.icon-phone-call:before {
  content: "\e908";
  color: #fff;
}
.icon-share:before {
  content: "\e90a";
  color: #7e7e7e;
}
.icon-user:before {
  content: "\e90b";
  color: #fff;
}
.icon-view:before {
  content: "\e90c";
  color: #7e7e7e;
}
.icon-cross:before {
  content: "\ea0f";
}
