.author-page {
	.author-page__state {
		color: #7E7E7E;
	}
	.author-page__border {
		position: relative;
		&:before {
			position: absolute;
			bottom: 0px;
			left: -8.333333%;
			right: -8.333333%;

			content: "";
			height: 1px;
			background-color: #7E7E7E;
			@media (max-width: 1200px) {
				left: 15px;
				right: 15px;
			}
		}
	}
}
