body {
	font-family: "Gilroy";
	font-style: normal;
	font-weight: normal;

	background-color: #F7F8F9;
	&.canvas-opened {
		overflow: hidden!important;
	}
}

input {
	font-family: "Gilroy";
}

.line-height-0 {
	line-height: 0px;
}
a:hover {
	color: $colorMain;
}

h1,h2,h3,h4,h5,
p,li,ol,td,tr,th,span,
.entry-meta, .readmore-btn, .widget-taber a.nav-link, a.read-more,
.widget_archive li a, .widget_categories li.cat-item a, .widget_pages li a {
	font-family: "Gilroy";
	font-style: normal;
	font-weight: normal;
	color: #000;
}
h2 {
	font-size: 24px;
	line-height: 29px;
	margin-bottom: 20px;
}
h3 {
	font-size: 18px;
	line-height: 21px;
	margin-bottom: 20px;
}
p {
	font-size: 14px;
	line-height: 17px;
	color: #000000;
}

blockquote {
	padding: 37px 24px 31px 52px;
	margin: 40px 0 45px 0px;
	background: #E5E5E5;
	position: relative;
	&:after {
		position: absolute;
		left: 17px;
		top: 12px;

		width: 46px;
		height: 33px;

		content: "";
		background-image: url("../images/blockquote.svg");
		background-size: 100%;
		background-position: center;
		background-repeat: no-repeat;
	}
	p {
		font-style: italic;
	}
}


.font-size-12 {
	font-size: 12px!important;
	line-height: 15px!important;
}
.font-size-14 {
	font-size: 14px!important;
	line-height: 17px!important;
}
.font-size-16 {
	font-size: 16px!important;
	line-height: 19px!important;
}
.font-size-24 {
	font-size: 24px!important;
	line-height: 29px!important;
}
.font-size-36 {
	font-size: 36px!important;
	line-height: 44px!important;
}
.font-size-64 {
	font-size: 64px!important;
	line-height: 77px!important;
}
.font-size-m-18 {
	@media (max-width: 991px) {
		font-size: 18px!important;
		line-height: 22px!important;
	}
}
.font-size-m-24 {
	@media (max-width: 991px) {
		font-size: 24px!important;
		line-height: 29px!important;
	}
}


#scrollUp {
	svg {
		width: 12px;
		path {
			stroke: #fff;
		}
	}
}
.main-wrap {
	main {
		& > .container {
			min-height: 120vh;
		}
	}
}
