.btn {
	&.btn__comment {
		background: #1A1A1A;
		border-radius: 0px;
		padding: 15px 70px;
		transition: 0.5s;

		display: flex;
		align-items: center;
		&:hover {
			background: $colorBgMain;
			transition: 0.5s;
		}
	}
}
