<footer class="footer-area">
	div(class="container")
		div(class="row footer-area__top")
			div(class="col-12 col-lg-3")
				div(class="header-logo pb-24")
					a(href="#")
						picture
							source(srcset="images/logo-mobile.png" media="(max-width: 991px)")
							img(class="lazyload img-fluid" data-src="images/logo.png" alt="img")
				p
					| Новостной портал новостного агентства “Рука Кремля”. Свидетельство о регистрации СМИ номер 516516516516
				p
					| Перепечатка материала возможна только с указанием на первоисточник.
			div(class="col-3 d-none d-lg-block")
				span(class="footer__title pb-30")
					| Информация
				ul(class="ml-20")
					each item in ["О издательстве", "Перепечатка материала", "Правила сайта", "Политика конфиденциальности"]
						li
							a(class="footer__link" href="#")
								= item
			div(class="col-3 d-none d-lg-block")
				span(class="footer__title pb-30")
					| Разделы новостей
				ul(class="ml-20")
					each item in ["Политика", "Технологии", "Экономика", "Финансы"]
						li
							a(class="footer__link" href="#")
								= item
			div(class="col-3 d-none d-lg-block")
				span(class="footer__title pb-18")
					| Контакты
				a(href="tel:+71234567890" class="callblock mb-32")
					span(class="icon-phone-call")
					span
						| +7 123 456-78-90
				a(href="tel:+71234567890" class="callblock")
					span(class="icon-email-send")
					span
						| +7 123 456-78-90
		div(class="row footer-area__bottom")
			div(class="col-12 d-flex justify-content-end")
				div(class="footer-copy-right")
					a(href="https://deksis.ru/")
						| поддержка сайта
						b
							|  DEKSIS.RU
</footer>
