<header class="main-header header-style-2 bggray mb-40">
	<div class="header-bottom header-sticky text-center">
		<div class="scroll-progress gradient-bg-1"></div>
		<div class="mobile_menu d-lg-none d-block"></div>
		<div class="container">
			<div class="row">
				<div class="col-4 col-lg-2 col-md-3">
					<div class="header-logo">
						<a href="#">
							picture
								source(srcset="images/logo-mobile.png" media="(max-width: 991px)")
								img(class="lazyload img-fluid" data-src="images/logo.png" alt="img")
						</a>
					</div>
				</div>
				<div class="col-8 col-lg-10 col-md-9 main-header-navigation d-flex">
					<div class="main-nav text-left float-lg-left float-md-right">
						<ul class="mobi-menu d-none menu-3-columns" id="navigation">
							<li class="cat-item cat-item-2"><a href="#">Главная</a></li>
							<li class="cat-item cat-item-3"><a href="#">Разделы</a></li>
							<li class="cat-item cat-item-4"><a href="#">О нас</a></li>
							<li class="cat-item cat-item-5"><a href="#">Сотрудничество</a></li>
							<li class="cat-item cat-item-6"><a href="#">Контакты</a></li>
						</ul>
						<nav>
							<ul class="main-menu d-none d-lg-inline">
								<li class="menu-item-has-children active">
									<a href="#">
										| Главная
									</a>
								</li>
								<li class="mega-menu-item">
									<a href="#">
										<span class="mr-15">
											<ion-icon name="desktop-outline"></ion-icon>
										</span>
										| Разделы
									</a>
									<div class="sub-mega-menu sub-menu-list row font-small">
										- for(let i = 0; i < 3; i++)
											<ul class="col-md-2">
												<li><strong>Разделы</strong></li>
												<li class="active"><a href="#">Элемент раздела</a></li>
												<li><a href="#">Элемент раздела</a></li>
												<li><a href="#">Элемент раздела</a></li>
												<li><a href="#">Элемент раздела</a></li>
											</ul>
										<div class="col-md-6 text-right">
											<a href="#"><img class="border-radius-10 lazyload" data-src="images/ads-2.jpg" alt=""></a>
										</div>
									</div>
								</li>
								<li>
									<a href="#">
										<span class="mr-15">
											<ion-icon name="megaphone-outline"></ion-icon>
										</span>
										| О нас
									</a>
								</li>
								<li>
									<a href="#">
										<span class="mr-15">
											<ion-icon name="film-outline"></ion-icon>
										</span>
										| Сотрудничество
									</a>
								</li>
								<li>
									<a href="#">
										<span class="mr-15">
											<ion-icon name="mail-unread-outline"></ion-icon>
										</span>
										| Контакты
									</a>
								</li>
							</ul>
						</nav>
					</div>
					<div class="user-log d-flex align-items-center">
						a(href="#" class="d-none d-xl-inline")
							| регистрация
						span(class="d-none d-xl-inline color-white")
							| /
						a(href="#" class="d-none d-xl-inline")
							| войти
						a(href="#" class="position-relative ml-2")
							<span class="icon-user"></span>
							<span class="notification">5</span>
					</div>
					<form action="" method="" class="search-form d-lg-flex align-items-center float-right d-none">
						div(class="position-relative line-height-0")
							<input type="text" class="search_field" placeholder="Поиск">
							button(type="submit")
								span(class="icon-loupe")
					</form>
					<div class="off-canvas-toggle-cover d-none d-lg-block">
						<div class="off-canvas-toggle hidden d-inline-block ml-15" id="off-canvas-toggle">
							span
							span
							span
							span
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
