aside(id="sidebar-wrapper" class="custom-scrollbar offcanvas-sidebar position-right")
	button(class="off-canvas-close")
		span(class="icon-cross")
	<div class="sidebar-inner">
		<!--lastest post-->
		<div class="sidebar-widget mb-50">
			<div class="widget-header mb-30">
				<span class="widget-title">Топ <span>Новостей</span></span>
			</div>
			<div class="post-aside-style-2">
				<ul class="list-post">
					-for (let i = 0; i < 5; i++)
						<li class="mb-30 wow fadeIn animated">
							<div class="d-flex">
								<div class="post-thumb d-flex mr-15 border-radius-5 img-hover-scale">
									<a class="color-white" href="single.html">
										<img class="lazyload" data-src="images/thumbnail-2.jpg" alt="">
									</a>
								</div>
								<div class="post-content media-body">
									<div class="post-title mb-10 text-limit-2-row"><a href="single.html">США в агонии</a></div>
								</div>
							</div>
						</li>
				</ul>
			</div>
		</div>
	</div>
