.footer-area {
	background-color: #1A1A1A;
	padding: 26px 0 57px 0px;
	p {
		font-size: 12px;
		line-height: 14px;
		color: #FFFFFF;
		margin-bottom: 20px;
	}
	.footer__title {
		display: block;
		font-weight: bold;
		font-size: 16px;
		line-height: 19px;
		color: #FFFFFF;
		margin: 0px;
	}
	.footer__link {
		display: block;
		font-size: 14px;
		line-height: 16px;
		color: #FFFFFF;
		margin-bottom: 20px;
		&:hover {
			color: $colorMain;
		}
	}
	.footer-area__top {
		padding-bottom: 50px;

		position: relative;
		&:before {
			content: "";

			position: absolute;
			bottom: 0px;
			left: 66px;
			right: 66px;
			height: 1px;
			background-color: rgba(255, 255, 255, 0.48);
			@media (max-width: 991px) {
				left: 15px;
				right: 15px;
			}
		}
		@media (max-width: 991px) {
			padding: 0px;
		}
	}
	.footer-area__bottom {
		padding-top: 25px;
		@media (max-width: 991px) {
			padding-top: 15px;
		}
	}
	@media (max-width: 991px) {
		padding: 20px 0px;
	}
}
.footer-copy-right {
	a {
		font-weight: 300;
		font-size: 12px;
		line-height: 14px;
		color: #FFFFFF;
		&:hover {
			color: $colorMain;
		}
	}
}
.callblock {
	display: flex;
	align-items: center;
	span {
		margin: 0px;
		transition: 0.3s;
		&:first-child {
			font-size: 40px;
			margin-right: 9px;
			&:before {
				transition: 0.3s;
			}
		}
		&:last-child {
			font-weight: bold;
			font-size: 24px;
			line-height: 29px;
			color: #FFFFFF;
		}
	}
	&:hover {
		span {
			&:first-child {
				&:before {
					color: $colorBgMain;
					transition: 0.3s;
				}
			}
			&:last-child {
				color: $colorMain;
			}
		}
	}
}
