.pagination-area {
	.page-item {
		.page-link {
			width: 50px;
			height: 50px;
			margin-right: 7px;

			display: flex;
			align-items: center;
			justify-content: center;

			font-size: 18px;
			svg {
				path {
					transition: 0.5s;
				}
			}
			&:hover {
				svg {
					path {
						stroke: $colorMain;
						transition: 0.5s;
					}
				}
			}
		}
		&.active {
			.page-link {
				font-weight: bold;
			}
		}
	}

}
