extends base.pug
block content
	include components/sidebar-area.pug
	include components/header-area.pug
	main(class="position-relative mb-80")
		div(class="container")
			div(class="row pb-30 mb-70 justify-content-center")
				div(class="col-12 col-lg-8")
					h1(class="font-size-36  mb-30 font-size-m-24 text-center")
						b
							| О нас
					<div class="single-excerpt">
						p(class="font-size-18")
							| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						<hr class="wp-block-separator is-style-wide">
						<p>
							<strong>Адрес</strong>: Челябинск, ул. Ломоносова, кв. 84, офис 103
						</p>
						<p>
						<strong>Телефон</strong>:
							a(href="tel:+71234567890")
								| +7 123 456-78-90
						</p>
						<p>
							<strong>Почта</strong>: 
							a(href="mailto:info@mail.ru")
								| info@mail.ru
						</p>
						<hr class="wp-block-separator is-style-wide">
					</div>
