extends base.pug
block content
	include components/sidebar-area.pug
	include components/header-area.pug
	main(class="position-relative mb-80")
		div(class="container author-page")
			div(class="row pb-30 mb-70 justify-content-center")
				div(class="col-12 col-lg-8 author-page__border")
					h1(class="font-size-36  mb-30 font-size-m-24 text-center")
						b
							| Колонка автора
					div()
						img(class="lazyload mx-auto d-block img-fluid mb-15" data-src="images/mIfqm9yG5Go 1.png" alt="img")
						h2(class="font-size-24 text-center")
							b
								| Олег Адольфович
						span(class="author-page__state text-center d-block font-size-18 mb-28")
							| Главный редактор
						p(class="font-size-16 text-center mb-60")
							| Задача организации, в особенности же сложившаяся структура организации требуют от нас анализа существенных финансовых и административных условий. Задача организации, в особенности же новая модель организационной деятельности обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Равным образом постоянный количественный рост и сфера нашей активности представляет собой интересный эксперимент проверки системы обучения кадров, соответствует насущным потребностям.
			div(class="row mb-20")
				-for(let i = 0; i < 9; i++)
					<div class="col-12 col-lg-4 mb-30">
						<div class="post-thumb post-thumb__post position-relative">
							<div class="thumb-overlay img-hover-slide border-radius-15 position-relative" style="background-image: url(images/thumbnail-7.jpg)">
								<a class="img-link" href="#"></a>
								<div class="post-content-overlay">
									<div class="entry-meta meta-0 mb-10">
										<a href="#">
											<span class="post-cat category-2 color-white font-size-12">шоу</span>
										</a>
									</div>
									<span class="post-title color-white font-size-24 mb-40 d-block"><b>“Танцы разнообразия”</b></span>
									<div class="d-flex align-items-center">
										<span class="entry-meta-stat color-white d-flex align-items-center">
											<span class="mr-10">
												<i class="icon-view" ></i>
											</span>
											| 1800
										</span>
										<span class="ml-30 entry-meta-stat d-flex align-items-center">
											<span class="mr-10">
												<i class="icon-chat"></i>
											</span>
											| 250
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
			div(class="row")
				div(class="col-12")
					<div class="pagination-area mb-30">
						<nav aria-label="Page navigation example">
							<ul class="pagination justify-content-start">
								<li class="page-item">
									<a class="page-link" href="#">
										<svg width="15" height="24" viewBox="0 0 15 24" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M13 2L3 12L13 22" stroke="black" stroke-width="4" stroke-linecap="round"/>
										</svg>
									</a>
								</li>
								<li class="page-item active"><a class="page-link" href="#">01</a></li>
								<li class="page-item"><a class="page-link" href="#">02</a></li>
								<li class="page-item"><a class="page-link" href="#">03</a></li>
								<li class="page-item"><a class="page-link" href="#">04</a></li>
								<li class="page-item">
									<a class="page-link" href="#">
										<svg width="15" height="24" viewBox="0 0 15 24" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M2 22L12 12L2 2" stroke="black" stroke-width="4" stroke-linecap="round"/>
										</svg>
									</a>
								</li>
							</ul>
						</nav>
					</div>
