doctype html
html(lang="ru")
	head
		meta(charset='utf-8')
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
		link(rel="stylesheet" href="css/main.min.css")

		link(rel="shortcut icon" href="images/favicon.png" type="image/png")
		title Рука кремля
	body
		include components/preloader-area.pug
		div(class="main-wrap")
			block content
			include components/footer-area.pug
		<div class="dark-mark"></div>
		script(src="js/main.min.js")
