extends base.pug
block content
	include components/sidebar-area.pug
	include components/header-area.pug
	main(class="position-relative mb-80")
		<div class="archive-header text-center mb-50">
			<div class="container">
				<h1 class="font-size-36 font-size-m-24 d-flex flex-column align-items-center d-lg-block">
					<span class="text-success"><b>Разделы</b></span>
					<span class="post-count">2538 статей</span>
				</h1>
				<div class="breadcrumb">
					<span class="no-arrow">Вы здесь:</span>
					<a href="index.html" rel="nofollow">Главная</a>
					<span></span>
					| Политика
				</div>
			</div>
		</div>
		div(class="container")
			div(class="row")
				<div class="col-lg-2 col-md-3 primary-sidebar sticky-sidebar sidebar-left order-2 order-md-1 d-none d-lg-block">
					<div class="sidebar-widget widget-weather border-radius-10 bg-white mb-30">
						<div class="d-flex flex-column flex-xl-row">
							<div class="font-medium">
								<p class="pb-5">Пятница</p>
								span(class="d-block m-0 font-size-36")
									b
										| 02
								<p class="pt-5 pb-0">Октября</p>
							</div>
							<div class="font-medium ml-10 ml-lg-0 pt-20">
								<div id="datetime" class="d-inline-block">
									<ul>
										<li>
											<span class="font-small">
												<a class="text-primary" href="#">Доллар</a><br>
												| 82
											</span>
										</li>
										<li>
											<span class="font-small">
												<a class="text-danger" href="#">Евро</a><br>
												| 28
											</span>
										</li>
										<li>
											<span class="font-small">
												<a class="text-success" href="#">Йена</a><br>
												| 25
											</span>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="sidebar-widget widget_categories border-radius-10 bg-white mb-30">
						<div class="widget-header position-relative mb-15">
							<div class="widget-title"><b>Категории</b></div>
						</div>
						<ul class="font-small text-muted">
							each item in ["Политика", "Экономика", "Финансы", "Технологии", "Общество", "Происшествия", "Путешествия"]
								li(class="cat-item")
									a(href="#")
										= item
						</ul>
					</div>
				</div>
				div(class="col-12 col-lg-10 order-1 order-md-2")
					div(class="row")
						div(class="col-lg-8 col-md-12")
							-for(let i = 0; i < 10; i++)
								<article class="category-item p-10 background-white border-radius-10 mb-30 wow fadeIn animated">
									<div class="d-md-flex d-block">
										<div class="post-thumb post-thumb-big d-flex mr-15 mr-m-0 mr-md-15 border-radius-15 img-hover-scale">
											<a class="color-white" href="#">
												<img class="border-radius-15 lazyload" data-src="images/thumbnail-15.jpg" alt="">
											</a>
										</div>
										<div class="post-content media-body">
											<div class="entry-meta mb-15 mt-10">
												<a class="entry-meta meta-2" href="category.html"><span class="post-in category-text-4">Политика</span></a>
											</div>
											<a class="post-title mb-15 text-limit-2-row" href="single.html">
												b
													| Немного о сегодняшней войне в Закавказье
											</a>
											p(class="post-exerpt font-medium text-muted mb-30 d-none d-lg-block")
												| Пока весь мир замер в ожидании дебатов Трампа и Байдена, в Америке происходят события, прямо влияющие на результат будущих выборов - и тем интереснее на них посмотреть как раз до дебатов. Первое событие - сильный ход штаба Байдена. Утром во вторник "Нью-Йорк Таймс" опубликовала статью, в которой "неожиданно выяснилось", что этот скряга Трамп заплатил за 2016-2017 годы по 750 долларов налогов, а до этого не платил их вообще лет 10-15.
												<div class="overflow-hidden">
													<div class="entry-meta meta-1 d-flex flex-lg-column flex-xl-row">
														<a class="post-by font-size-12 mr-34" href="author.html">Олег Лавров</a>
														<span class="post-on font-size-12 mr-34">02/10/2020</span>
														<span class="time-reading font-size-12 mr-34">5 минут на прочтение</span>
													</div>
												</div>
										</div>
									</div>
								</article>
							<div class="pagination-area mb-30">
								<nav aria-label="Page navigation example">
									<ul class="pagination justify-content-start">
										<li class="page-item">
											<a class="page-link" href="#">
												<svg width="15" height="24" viewBox="0 0 15 24" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path d="M13 2L3 12L13 22" stroke="black" stroke-width="4" stroke-linecap="round"/>
												</svg>
											</a>
										</li>
										<li class="page-item active"><a class="page-link" href="#">01</a></li>
										<li class="page-item"><a class="page-link" href="#">02</a></li>
										<li class="page-item"><a class="page-link" href="#">03</a></li>
										<li class="page-item"><a class="page-link" href="#">04</a></li>
										<li class="page-item">
											<a class="page-link" href="#">
												<svg width="15" height="24" viewBox="0 0 15 24" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path d="M2 22L12 12L2 2" stroke="black" stroke-width="4" stroke-linecap="round"/>
												</svg>
											</a>
										</li>
									</ul>
								</nav>
							</div>
						div(class="col-lg-4 col-md-12 sidebar-right")
							<div class="sidebar-widget mb-20  d-none d-lg-block">
								<div class="widget-header position-relative mb-30">
									<div class="row">
										<div class="col-lg-7 col-xl-8">
											<div class="widget-title mb-0 font-size-24">Колонка <span>главного</span></div>
										</div>
										<div class="col-lg-5 col-xl-4 text-right">
											<a class="widget-header__link-more pr-15" href="#"><b>Все статьи</b></a>
										</div>
									</div>
								</div>
								<div class="post-aside-style-1 border-radius-10 p-20 bg-white">
									div(class="post-aside_author d-flex")
										div(class="d-flex flex-column align-items-end")
											a(href="#")
												b
													| Олег Лавров
											span(class="text-right")
												| Главный редактор новостного агентства “Рука Кремля”
										a(href="#")
											img(class="lazyload ml-7" data-src="images/author.png" alt="img")
									<ul class="list-post">
										- for (let i = 0; i < 3; i++)
											<li class="mb-18">
												<div class="d-flex">
													<div class="post-thumb d-flex mr-15 border-radius-5 img-hover-scale">
														<a class="color-white" href="#">
															<img class="lazyload img-fluid" data-src="images/thumbnail-15.jpg" alt="">
														</a>
													</div>
													<div class="post-content media-body">
														<a href="#" class="post-title mb-10 text-limit-2-row font-size-16"><b>Немного о сегодняшней войне в Закавказье</b></a>
													</div>
												</div>
											</li>
									</ul>
								</div>
							</div>
							<div class="sidebar-widget mb-20  d-none d-lg-block">
								<div class="widget-top-auhor border-radius-10 p-20 bg-white">
									<div class="widget-header widget-header-style-1 position-relative mb-15">
										<div class="widget-title">Топ <span>Авторов</span></div>
									</div>
									<a class="red-tooltip active" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Emma - 1034 posts"><img class="lazyload" data-src="images/author-2.png" alt="img"></a>
									<a class="red-tooltip" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Oliver - 245 posts"><img class="lazyload" data-src="images/author-2.png" alt="img"></a>
									<a class="red-tooltip" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Sophia - 356 posts"><img class="lazyload" data-src="images/author-2.png" alt="img"></a>
									<a class="red-tooltip active" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Emili - 152 posts"><img class="lazyload" data-src="images/author-2.png" alt="img"></a>
									<a class="red-tooltip" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Harry - 245 posts"><img class="lazyload" data-src="images/author-2.png" alt="img"></a>
									<a class="red-tooltip" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Noah - 758 posts"><img class="lazyload" data-src="images/author-2.png" alt="img"></a>
									<a class="red-tooltip" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Isabella - 231 posts"><img class="lazyload" data-src="images/author-2.png" alt="img"></a>
									<a class="red-tooltip active" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Charlie - 256 posts"><img class="lazyload" data-src="images/author-2.png" alt="img"></a>
									<a class="red-tooltip" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Amelia - 652 posts"><img class="lazyload" data-src="images/author-2.png" alt="img"></a>
									<a class="red-tooltip active" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Jack - 125 posts"><img class="lazyload" data-src="images/author-2.png" alt="img"></a>
									<a class="red-tooltip" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Elizabeth - 452 posts"><img class="lazyload" data-src="images/author-2.png" alt="img"></a>
									<a class="red-tooltip" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Malcolm - 124 posts"><img class="lazyload" data-src="images/author-2.png" alt="img"></a>
									<a class="red-tooltip" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Abigail - 1245 posts"><img class="lazyload" data-src="images/author-2.png" alt="img"></a>
									<a class="red-tooltip active" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Matthew - 1325 posts"><img class="lazyload" data-src="images/author-2.png" alt="img"></a>
									<a class="red-tooltip" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Genesis - 562 posts"><img class="lazyload" data-src="images/author-2.png" alt="img"></a>
									<a class="red-tooltip active" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Charlie - 256 posts"><img class="lazyload" data-src="images/author-2.png" alt="img"></a>
									<a class="red-tooltip" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Amelia - 652 posts"><img class="lazyload" data-src="images/author-2.png" alt="img"></a>
									<a class="red-tooltip active" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Jack - 125 posts"><img class="lazyload" data-src="images/author-2.png" alt="img"></a>
								</div>
							</div>
							<div class="sidebar-widget widget_newsletter border-radius-10 p-20 bg-white mb-20  d-none d-lg-block">
								<div class="widget-header mb-16">
									<div class="widget-title font-size-16"><b>Будьте всегда в курсе</b></div>
								</div>
								p
									| Читайте нас когда удобно и где удобно!
								div(class="social-area")
									a(href="#" class="social-area__item")
										img(class="lazyload" data-src="images/email.svg" alt="img")
									a(href="#" class="social-area__item")
										img(class="lazyload" data-src="images/yandex.svg" alt="img")
									a(href="#" class="social-area__item")
										img(class="lazyload" data-src="images/telegram.svg" alt="img")
									a(href="#" class="social-area__item")
										img(class="lazyload" data-src="images/vk.svg" alt="img")
							</div>
							<div class="sidebar-widget mb-60">
								<div class="widget-header mb-30">
									<div class="widget-title font-size-24">Самое <span>Популярное</span></div>
								</div>
								<div class="post-aside-style-3">
									<article class="bg-white border-radius-15 mb-30 pt-10 pr-10 pb-15 pl-10 wow fadeIn animated">
										<div class="post-thumb d-flex mb-15 border-radius-15  img-hover-scale">
											<a href="#">
												<video autoplay="" class="photo-item__video" loop="" muted="" preload="none">
													<source src="https://player.vimeo.com/external/210754416.sd.mp4?s=826dbe91a402d3fc239674b6595a0100b2a45098&amp;profile_id=164&amp;oauth2_token_id=57447761" type="video/mp4">
												</video>
											</a>
										</div>
										<div class="pl-10 pr-10">
											<a href="#" class="post-title mb-25 font-size-16 d-block"><b>Пора валить из США</b></a>
											<div class="entry-meta meta-1">
												<a class="post-by font-size-12 mr-34" href="author.html">Олег Лавров</a>
												<span class="post-on font-size-12 mr-34">02/10/2020</span>
											</div>
										</div>
									</article>
									<article class="bg-white border-radius-15 mb-30 pt-10 pr-10 pb-15 pl-10 wow fadeIn animated">
										<div class="post-thumb d-flex mb-15 border-radius-15 img-hover-scale">
											<a href="#">
												<img class="border-radius-15 lazyload" data-src="images/news-20.jpg" alt="">
											</a>
										</div>
										<div class="pl-10 pr-10">
											<a href="#" class="post-title mb-25 font-size-16 d-block"><b>Пора валить из США</b></a>
											<div class="entry-meta meta-1">
												<a class="post-by font-size-12 mr-34" href="author.html">Олег Лавров</a>
												<span class="post-on font-size-12 mr-34">02/10/2020</span>
											</div>
										</div>
									</article>
									<article class="bg-white border-radius-15 mb-30 pt-10 pr-10 pb-15 pl-10  wow fadeIn animated">
										<div class="post-thumb d-flex mb-15 border-radius-15 img-hover-scale">
											<a href="#">
												<img class="border-radius-15 lazyload" data-src="images/news-20.jpg" alt="">
											</a>
										</div>
										<div class="pl-10 pr-10">
											<a href="#" class="post-title mb-25 font-size-16 d-block"><b>“Самая перспективная вакцина против коронавируса в мире”</b></a>
											<div class="entry-meta meta-1">
												<a class="post-by font-size-12 mr-34" href="author.html">Олег Лавров</a>
												<span class="post-on font-size-12 mr-34">02/10/2020</span>
											</div>
										</div>
									</article>
								</div>
							</div>
							<div class="sidebar-widget p-20 border-radius-15 bg-white widget-latest-comments wow fadeIn animated d-none d-lg-block">
								<div class="widget-header mb-15">
									<div class="widget-title">Последние <span>Комментарии</span></div>
								</div>
								<div class="post-block-list post-module-6">
									<div class="last-comment mb-25 d-flex wow fadeIn animated">
										<span class="item-count vertical-align">
											<a class="red-tooltip author-avatar" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Azumi - 985 posts">
												<img class="lazyload img-fluid" data-src="images/author-14.png" alt="img">
											</a>
										</span>
										<div class="alith_post_title_small">
											<a href="#" class="d-block font-size-12">Как всегда все по уму, все по делу. 👍👏 Макрон стал так рьяно тявкать на Россию ещё по одной причине. Крошка собирает коалицию против Эрдогана .....</a>
										</div>
									</div>
									<div class="last-comment mb-25 d-flex wow fadeIn animated">
										<span class="item-count vertical-align">
											<a class="red-tooltip author-avatar" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Harry - 1245 posts">
												<img class="lazyload img-fluid" data-src="images/author-14.png" alt="img">
											</a>
										</span>
										<div class="alith_post_title_small">
											<a href="#" class="d-block font-size-12">Как в старом анекдоте - общемировая забава, раз в 100 лет собраться толпой и охватить люлей от России...</a>
										</div>
									</div>
									<div class="last-comment mb-25 d-flex wow fadeIn animated">
										<span class="item-count vertical-align">
											<a class="red-tooltip author-avatar" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Johny - 445 posts">
												<img class="lazyload img-fluid" data-src="images/author-14.png" alt="img">
											</a>
										</span>
										<div class="alith_post_title_small">
											<a href="#" class="d-block font-size-12">Что то будет... ааа, вот, пусть лучше все будет хорошо😂!!! На самом деле, война и развал Америки под ноль для нас , так же как и развал России для Америки ....</a>
										</div>
									</div>
								</div>
							</div>
