extends base.pug
block content
	include components/sidebar-area.pug
	include components/header-area.pug
	main(class="position-relative mb-80")
		div(class="container")
			div(class="row pb-30")
				div(class="col-12 mb-120 mb-m-40")
					h1(class="font-size-36 font-size-m-24 text-center")
						b
							| Рекламодателям
				div(class="col-12 mb-20")
					h2(class="font-size-64 font-size-m-24")
						b
							| Нужна эффективная реклама?!
				div(class="col-12 col-lg-7 offset-lg-5")
					p(class="font-size-18")
						| Новостное агентство “Рука кремля” приглашает к сотрудничеству рекламодателей. Наша аудитория ежедневно составляет более 300 000 уникальных посетителей.
					p(class="font-size-18")
						| Вы можете быть уверены ваша реклама сработает как нужно.
					p(class="font-size-18")
						| Новостное агентство “Рука кремля” приглашает к сотрудничеству рекламодателей. Наша аудитория ежедневно составляет более 300 000 уникальных посетителей.
					p(class="font-size-18")
						| Вы можете быть уверены ваша реклама сработает как нужно.
			div(class="row")
				<div class="col-12 col-lg-4 mb-30">
					<div class="post-thumb post-thumb__post position-relative">
						<div class="thumb-overlay img-hover-slide border-radius-15 position-relative" style="background-image: url(images/p1.png)">
							<a class="img-link" href="#"></a>
							<div class="post-content-overlay">
								<span class="post-title color-white font-size-24 mb-40 d-block"><b>Прайс-лист. Все рекламные форматы</b></span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-lg-4 mb-30">
					<div class="post-thumb post-thumb__post position-relative">
						<div class="thumb-overlay img-hover-slide border-radius-15 position-relative" style="background-image: url(images/p2.png)">
							<a class="img-link" href="#"></a>
							<div class="post-content-overlay">
								<span class="post-title color-white font-size-24 mb-40 d-block"><b>Реклама “на руке кремля”: что нельзя</b></span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-lg-4 mb-30">
					<div class="post-thumb post-thumb__post position-relative">
						<div class="thumb-overlay img-hover-slide border-radius-15 position-relative" style="background-image: url(images/p3.png)">
							<a class="img-link" href="#"></a>
							<div class="post-content-overlay">
								<span class="post-title color-white font-size-24 mb-40 d-block"><b>Что такое нативная реклама на “Руке Кремля”</b></span>
							</div>
						</div>
					</div>
				</div>
