extends base.pug
block content
	include components/sidebar-area.pug
	include components/header-area.pug
	<main class="position-relative mb-60">
		<div class="container">
			<div class="row">
				<div class="col-lg-2 col-md-3 primary-sidebar sticky-sidebar sidebar-left order-2 order-md-1 d-none d-lg-block">
					<div class="sidebar-widget widget-weather border-radius-10 bg-white mb-30 mt-55">
						<div class="d-flex flex-column flex-xl-row">
							<div class="font-medium">
								<p class="pb-5">Пятница</p>
								span(class="d-block m-0 font-size-36")
									b
										| 02
								<p class="pt-5 pb-0">Октября</p>
							</div>
							<div class="font-medium ml-10 ml-lg-0 pt-20">
								<div id="datetime" class="d-inline-block">
									<ul>
										<li>
											<span class="font-small">
												<a class="text-primary" href="#">Доллар</a><br>
												| 82
											</span>
										</li>
										<li>
											<span class="font-small">
												<a class="text-danger" href="#">Евро</a><br>
												| 28
											</span>
										</li>
										<li>
											<span class="font-small">
												<a class="text-success" href="#">Йена</a><br>
												| 25
											</span>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="sidebar-widget widget_categories border-radius-10 bg-white mb-30">
						<div class="widget-header position-relative mb-15">
							<div class="widget-title"><b>Категории</b></div>
						</div>
						<ul class="font-small text-muted">
							each item in ["Политика", "Экономика", "Финансы", "Технологии", "Общество", "Происшествия", "Путешествия"]
								li(class="cat-item")
									a(href="#")
										= item
						</ul>
					</div>
				</div>
				<div class="col-12 col-lg-10 order-1 order-md-2">
					<div class="row">
						<div class="col-lg-8 col-md-12">
							<div class="featured-post mb-30">
								<h1 class="widget-title mb-30 font-size-24">Самое <span>актуальное</span></h1>
								<div class="featured-slider-1 border-radius-10">
									<div class="featured-slider-1-items">
										-for (let i = 0;i < 2; i++)
											<div class="slider-single p-10">
												<div class="img-hover-slide border-radius-15 mb-30 mb-m-10 overflow-hidden">
													<a href="#">
														<img class="img-fluid" src="images/news-8.jpg" alt="post-slider">
													</a>
												</div>
												<div class="pr-10 pl-10">
													<div class="entry-meta mb-30 mb-m-10 d-flex align-tems-center justify-content-between">
														<a class="entry-meta meta-0" href="#">
															<span class="post-in category-4">политика</span>
														</a>
														<div class="d-flex align-items-center">
															<span class="entry-meta-stat d-flex align-items-center">
																<span class="mr-10">
																	<i class="icon-view" ></i>
																</span>
																b
																	| 1800
															</span>
															<span class="ml-30 entry-meta-stat d-flex align-items-center">
																<span class="mr-10">
																	<i class="icon-chat"></i>
																</span>
																b
																	| 250
															</span>
															<span class="ml-30 entry-meta-stat d-flex align-items-center">
																<span class="mr-10">
																	<i class="icon-share"></i>
																</span>
																b
																	| 75
															</span>
														</div>
													</div>
													a(href="#" class="post-title d-block font-size-24 font-size-m-18 mb-30 mb-m-10")
														b
															| США: выборы и “немного” экстремизма
													<div class="mb-20 overflow-hidden">
														<div class="entry-meta meta-2 float-left">
															<a class="float-left mr-10 author-img" href="#" tabindex="0">
																<img class="lazyload"  data-src="images/author.png" alt="img">
															</a>
															<a href="#" tabindex="0">
																<span class="author-name">
																	b
																		| Олег Адольфович
																</span>
															</a>
															<br>
															<span class="author-add">ГЛАВНЫЙ РЕДАКТОР</span>
														</div>
													</div>
												</div>
											</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-12 sidebar-right">
							<div class="sidebar-widget mb-20">
								<div class="widget-header position-relative mb-30">
									<div class="row">
										<div class="col-lg-7 col-xl-8">
											<div class="widget-title mb-0 font-size-24">Колонка <span>главного</span></div>
										</div>
										<div class="col-lg-5 col-xl-4 text-right">
											<a class="widget-header__link-more pr-15" href="#"><b>Все статьи</b></a>
										</div>
									</div>
								</div>
								<div class="post-aside-style-1 border-radius-10 p-20 bg-white">
									div(class="post-aside_author d-flex")
										div(class="d-flex flex-column align-items-end")
											a(href="#")
												b
													| Олег Лавров
											span(class="text-right")
												| Главный редактор новостного агентства “Рука Кремля”
										a(href="#")
											img(class="lazyload ml-7" data-src="images/author.png" alt="img")
									<ul class="list-post">
										- for (let i = 0; i < 3; i++)
											<li class="mb-18">
												<div class="d-flex">
													<div class="post-thumb d-flex mr-15 border-radius-5 img-hover-scale">
														<a class="color-white" href="#">
															<img class="lazyload img-fluid" data-src="images/thumbnail-15.jpg" alt="">
														</a>
													</div>
													<div class="post-content media-body">
														<a href="#" class="post-title mb-10 text-limit-2-row font-size-16"><b>Немного о сегодняшней войне в Закавказье</b></a>
													</div>
												</div>
											</li>
									</ul>
								</div>
							</div>
							<div class="sidebar-widget mb-20">
								<div class="widget-top-auhor widget-top-auhor_big border-radius-10 p-20 bg-white">
									<div class="widget-header widget-header-style-1 position-relative mb-15">
										<div class="widget-title">Топ <span>Авторов</span></div>
									</div>
									<a class="red-tooltip active" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Emma - 1034 posts"><img class="lazyload" data-src="images/author-2.png" alt="img"></a>
									<a class="red-tooltip" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Oliver - 245 posts"><img class="lazyload" data-src="images/author-2.png" alt="img"></a>
									<a class="red-tooltip" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Sophia - 356 posts"><img class="lazyload" data-src="images/author-2.png" alt="img"></a>
									<a class="red-tooltip active" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Emili - 152 posts"><img class="lazyload" data-src="images/author-2.png" alt="img"></a>
									<a class="red-tooltip" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Harry - 245 posts"><img class="lazyload" data-src="images/author-2.png" alt="img"></a>
									<a class="red-tooltip" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Noah - 758 posts"><img class="lazyload" data-src="images/author-2.png" alt="img"></a>
									<a class="red-tooltip" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Isabella - 231 posts"><img class="lazyload" data-src="images/author-2.png" alt="img"></a>
									<a class="red-tooltip active" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Charlie - 256 posts"><img class="lazyload" data-src="images/author-2.png" alt="img"></a>
									<a class="red-tooltip" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Amelia - 652 posts"><img class="lazyload" data-src="images/author-2.png" alt="img"></a>
									<a class="red-tooltip active" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Jack - 125 posts"><img class="lazyload" data-src="images/author-2.png" alt="img"></a>
									<a class="red-tooltip" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Elizabeth - 452 posts"><img class="lazyload" data-src="images/author-2.png" alt="img"></a>
									<a class="red-tooltip" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Malcolm - 124 posts"><img class="lazyload" data-src="images/author-2.png" alt="img"></a>
									<a class="red-tooltip" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Abigail - 1245 posts"><img class="lazyload" data-src="images/author-2.png" alt="img"></a>
									<a class="red-tooltip active" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Matthew - 1325 posts"><img class="lazyload" data-src="images/author-2.png" alt="img"></a>
									<a class="red-tooltip" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Genesis - 562 posts"><img class="lazyload" data-src="images/author-2.png" alt="img"></a>
									<a class="red-tooltip active" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Charlie - 256 posts"><img class="lazyload" data-src="images/author-2.png" alt="img"></a>
									<a class="red-tooltip" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Amelia - 652 posts"><img class="lazyload" data-src="images/author-2.png" alt="img"></a>
									<a class="red-tooltip active" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Jack - 125 posts"><img class="lazyload" data-src="images/author-2.png" alt="img"></a>
								</div>
							</div>
							<div class="sidebar-widget widget_newsletter border-radius-10 p-20 bg-white mb-20">
								<div class="widget-header mb-16">
									<div class="widget-title font-size-16"><b>Будьте всегда в курсе</b></div>
								</div>
								p
									| Читайте нас когда удобно и где удобно!
								div(class="social-area")
									a(href="#" class="social-area__item")
										img(class="lazyload" data-src="images/email.svg" alt="img")
									a(href="#" class="social-area__item")
										img(class="lazyload" data-src="images/yandex.svg" alt="img")
									a(href="#" class="social-area__item")
										img(class="lazyload" data-src="images/telegram.svg" alt="img")
									a(href="#" class="social-area__item")
										img(class="lazyload" data-src="images/vk.svg" alt="img")
							</div>
						</div>
					</div>
					<div class="row d-none d-lg-flex">
						<div class="col-12 text-center mb-40">
							<a href="#">
								<img class="border-radius-10 d-inline lazyload" data-src="images/ads.jpg" alt="post-slider">
							</a>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-8 col-md-12">
							<div class="latest-post mb-40">
								<div class="widget-header position-relative mb-30">
									<div class="row align-items-center">
										<div class="col-7">
											<div class="widget-title mb-0 font-size-24">Лента <span>новостей</span></div>
										</div>
										<div class="col-5 text-right">
											<a class="widget-header__link" href="#"><b>Все статьи</b></a>
										</div>
									</div>
								</div>
								<div class="loop-list-style-1 d-none d-lg-block">
									<article class="first-post p-10 background-white border-radius-10 mb-30 wow fadeIn animated">
										<div class="img-hover-slide border-radius-15 mb-30 overflow-hidden">
											<a href="#">
												<img class="img-fluid lazyload" data-src="images/news-8.jpg" alt="post-slider">
											</a>
										</div>
										<div class="pr-10 pl-10">
											<div class="entry-meta mb-30 d-flex align-tems-center justify-content-between">
												<a class="entry-meta meta-0" href="#">
													<span class="post-in category-2">технологии</span>
												</a>
												<div class="d-flex align-items-center">
													<span class="entry-meta-stat d-flex align-items-center">
														<span class="mr-10">
															<i class="icon-view" ></i>
														</span>
														| 1800
													</span>
													<span class="ml-30 entry-meta-stat d-flex align-items-center">
														<span class="mr-10">
															<i class="icon-chat"></i>
														</span>
														| 250
													</span>
													<span class="ml-30 entry-meta-stat d-flex align-items-center">
														<span class="mr-10">
															<i class="icon-share"></i>
														</span>
														| 75
													</span>
												</div>
											</div>
											a(href="#" class="post-title d-block font-size-24 mb-30")
												b
													| США: выборы и “немного” экстремизма
											<div class="mb-20 overflow-hidden">
												<div class="entry-meta meta-1">
													<a class="post-by font-size-12 mr-34" href="author.html">Олег Лавров</a>
													<span class="post-on font-size-12 mr-34">02/10/2020</span>
													<span class="time-reading font-size-12 mr-34">5 минут на прочтение</span>
												</div>
											</div>
										</div>
									</article>
								</div>
							</div>
							div(class="row")
								-for(let i = 0; i <= 5; i++)
									<div class="col-12 col-lg-6 mb-30">
										<div class="post-thumb post-thumb__post position-relative">
											<div class="thumb-overlay img-hover-slide border-radius-15 position-relative" style="background-image: url(images/thumbnail-7.jpg)">
												<a class="img-link" href="#"></a>
												<div class="post-content-overlay">
													<div class="entry-meta meta-0 mb-10">
														<a href="#">
															<span class="post-cat category-2 color-white font-size-12">шоу</span>
														</a>
													</div>
													<span class="post-title color-white font-size-24 mb-40 d-block"><b>“Танцы разнообразия”</b></span>
													<div class="d-flex align-items-center">
														<span class="entry-meta-stat color-white d-flex align-items-center">
															<span class="mr-10">
																<i class="icon-view" ></i>
															</span>
															| 1800
														</span>
														<span class="ml-30 entry-meta-stat d-flex align-items-center">
															<span class="mr-10">
																<i class="icon-chat"></i>
															</span>
															| 250
														</span>
													</div>
												</div>
											</div>
										</div>
									</div>
						</div>
						<div class="col-lg-4 col-md-12 sidebar-right">
							<div class="sidebar-widget mb-60">
								<div class="widget-header mb-30">
									<div class="widget-title font-size-24">Самое <span>Популярное</span></div>
								</div>
								<div class="post-aside-style-3">
									<article class="bg-white border-radius-15 mb-30 pt-10 pr-10 pb-15 pl-10 wow fadeIn animated">
										<div class="post-thumb d-flex mb-15 border-radius-15  img-hover-scale">
											<a href="#">
												<video autoplay="" class="photo-item__video" loop="" muted="" preload="none">
													<source src="https://player.vimeo.com/external/210754416.sd.mp4?s=826dbe91a402d3fc239674b6595a0100b2a45098&amp;profile_id=164&amp;oauth2_token_id=57447761" type="video/mp4">
												</video>
											</a>
										</div>
										<div class="pl-10 pr-10">
											<a href="#" class="post-title mb-25 font-size-16 d-block"><b>Пора валить из США</b></a>
											<div class="entry-meta meta-1">
												<a class="post-by font-size-12 mr-34" href="author.html">Олег Лавров</a>
												<span class="post-on font-size-12 mr-34">02/10/2020</span>
											</div>
										</div>
									</article>
									<article class="bg-white border-radius-15 mb-30 pt-10 pr-10 pb-15 pl-10 wow fadeIn animated">
										<div class="post-thumb d-flex mb-15 border-radius-15 img-hover-scale">
											<a href="#">
												<img class="border-radius-15 lazyload" data-src="images/news-20.jpg" alt="">
											</a>
										</div>
										<div class="pl-10 pr-10">
											<a href="#" class="post-title mb-25 font-size-16 d-block"><b>Пора валить из США</b></a>
											<div class="entry-meta meta-1">
												<a class="post-by font-size-12 mr-34" href="author.html">Олег Лавров</a>
												<span class="post-on font-size-12 mr-34">02/10/2020</span>
											</div>
										</div>
									</article>
									<article class="bg-white border-radius-15 mb-30 pt-10 pr-10 pb-15 pl-10  wow fadeIn animated">
										<div class="post-thumb d-flex mb-15 border-radius-15 img-hover-scale">
											<a href="#">
												<img class="border-radius-15 lazyload" data-src="images/news-20.jpg" alt="">
											</a>
										</div>
										<div class="pl-10 pr-10">
											<a href="#" class="post-title mb-25 font-size-16 d-block"><b>“Самая перспективная вакцина против коронавируса в мире”</b></a>
											<div class="entry-meta meta-1">
												<a class="post-by font-size-12 mr-34" href="author.html">Олег Лавров</a>
												<span class="post-on font-size-12 mr-34">02/10/2020</span>
											</div>
										</div>
									</article>
								</div>
							</div>
							<div class="sidebar-widget p-20 border-radius-15 bg-white widget-latest-comments wow fadeIn animated d-none d-lg-block">
								<div class="widget-header mb-15">
									<div class="widget-title">Последние <span>Комментарии</span></div>
								</div>
								<div class="post-block-list post-module-6">
									<div class="last-comment mb-25 d-flex wow fadeIn animated">
										<span class="item-count vertical-align">
											<a class="red-tooltip author-avatar" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Azumi - 985 posts">
												<img class="lazyload img-fluid" data-src="images/author-14.png" alt="img">
											</a>
										</span>
										<div class="alith_post_title_small">
											<a href="#" class="d-block font-size-12">Как всегда все по уму, все по делу. 👍👏 Макрон стал так рьяно тявкать на Россию ещё по одной причине. Крошка собирает коалицию против Эрдогана .....</a>
										</div>
									</div>
									<div class="last-comment mb-25 d-flex wow fadeIn animated">
										<span class="item-count vertical-align">
											<a class="red-tooltip author-avatar" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Harry - 1245 posts">
												<img class="lazyload img-fluid" data-src="images/author-14.png" alt="img">
											</a>
										</span>
										<div class="alith_post_title_small">
											<a href="#" class="d-block font-size-12">Как в старом анекдоте - общемировая забава, раз в 100 лет собраться толпой и охватить люлей от России...</a>
										</div>
									</div>
									<div class="last-comment mb-25 d-flex wow fadeIn animated">
										<span class="item-count vertical-align">
											<a class="red-tooltip author-avatar" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Johny - 445 posts">
												<img class="lazyload img-fluid" data-src="images/author-14.png" alt="img">
											</a>
										</span>
										<div class="alith_post_title_small">
											<a href="#" class="d-block font-size-12">Что то будет... ааа, вот, пусть лучше все будет хорошо😂!!! На самом деле, война и развал Америки под ноль для нас , так же как и развал России для Америки ....</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
