extends base.pug
block content
	include components/sidebar-area.pug
	include components/header-area.pug
	main(class="position-relative mb-80")
		div(class="container")
			div(class="row pb-30 mb-70 justify-content-center")
				div(class="col-12 col-lg-8 author-page__border")
					h1(class="font-size-36  mb-30 font-size-m-24 text-center")
						b
							| Регистрация
					<form class="form-contact comment_form" action="#" method="" id="commentForm">
						<div class="row justify-content-center">
							div(class="col-8")
								div(class="row")
									<div class="col-12">
										<div class="form-group">
											<input class="form-control" name="name" id="name" type="text" placeholder="Имя">
										</div>
									</div>
									<div class="col-12">
										<div class="form-group">
											<input class="form-control" name="email" id="email" type="email" placeholder="Email">
										</div>
									</div>
									<div class="col-12">
										<div class="form-group">
											<input class="form-control" name="website" id="website" type="text" placeholder="Телефон">
										</div>
									</div>
									div(class="col-12")
										<div class="form-group">
											<button type="submit" class="btn btn__comment">Зарегистрироваться</button>
										</div>
						</div>
					</form>
