extends base.pug
block content
	include components/sidebar-area.pug
	include components/header-area.pug
	<main class="position-relative mb-60">
		<div class="container">
			<div class="entry-header entry-header-2 mb-70 mt-50 mb-m-30 mt-m-30 text-center">
				<div class="entry-meta meta-0 font-small mb-15">
					<a class="entry-meta meta-0" href="#" tabindex="0">
						<span class="post-in category-4">политика</span>
					</a>
				</div>
				<h1 class="post-title mb-20 font-size-36 font-size-m-24">
					b
						| США: выборы и “немного” экстремизма
				</h1>
				<div class="d-flex align-items-center justify-content-center">
					<span class="entry-meta-stat d-flex align-items-center">
						<span class="mr-10">
							<i class="icon-view"></i>
						</span>
						<b>1800</b>
					</span>
					<span class="ml-30 entry-meta-stat d-flex align-items-center">
						<span class="mr-10">
							<i class="icon-chat"></i>
						</span>
						<b>250</b>
					</span>
					<span class="ml-30 entry-meta-stat d-flex align-items-center">
						<span class="mr-10">
							<i class="icon-share"></i>
						</span>
						<b>75</b>
					</span>
				</div>
			</div>
			<div class="row mb-60 mb-m-20 post-inner">
				<div class="col-lg-8 col-xl-9 col-md-12">
					div(class="mb-40")
						picture
							source(srcset="images/news-8.jpg" media="(max-width: 991px)")
							img(class="lazyload img-fluid mb-60 mb-m-10 border-radius-15" data-src="images/Rectangle 10.png" alt="img")
						p
							| Пока весь мир замер в ожидании дебатов Трампа и Байдена, в Америке происходят события, прямо влияющие на результат будущих выборов - и тем интереснее на них посмотреть как раз до дебатов.
						p
							| Первое событие - сильный ход штаба Байдена. Утром во вторник "Нью-Йорк Таймс" опубликовала статью, в которой "неожиданно выяснилось", что этот скряга Трамп заплатил за 2016-2017 годы по 750 долларов налогов, а до этого не платил их вообще лет 10-15.<br>А поскольку сами дебаты начинаются в девять вечера во вторник, у команды Трампа не остается времени на опровержения - а это значит, что именно налоги будут козырем Байдена в битве с Трампом.
						h2
							b
								| Заголовок второго уровня
						p
							| Честно говоря, так себе наброс - Донни вечером запросто отобьется от него, просто заявив, что тот, кто не платит в Америке налоги, сидит в тюрьме. И будет абсолютно прав, поскольку что-что, а за это дело в США карают предельно жестко, можно угодить за решетку лет на сорок или больше.<br>Со своей стороны, у Трампа тоже припрятано несколько козырей в рукаве - и одним из них будет вопрос, принимает ли Джо стимулирующие препараты перед предвыборными митингами и дебатами.Тем более, что основания для этого были уже давно - и если Донни прямо во время дебатов полезет искать белые следы под носом у Джо, это будет выглядеть очень эпично, зрители будут в восторге.
						p
							| Так как Джо технично уклонился от вопроса Трампа по поводу анализов на наркотики, самое время перейти ко второму событию - оно тоже появилось прямо во вторник, перед вечерним шоу.<br>Итак, агентство Reuters сообщило, что американские силовики внезапно узнали, что идущие в разных городах США уже Бог знает сколько дней протесты являются угрозой выборам в ноябре - дескать, слишком много экстремистов на улицах.
						p
							| Понятно, что рано или поздно это обязательно должны были обнаружить - тот же Портленд бунтует уже почти четыре месяца. Но все-таки, почему обнаружили так рано? Надо было всполошиться первого ноября, а еще лучше - второго, чтоб уж наверняка.<br>Все эти БЛМ, антифа и просто неравнодушные мародеры - идеальный инструмент для нынешней внутренней политики Америки. Хомячье стадо, увлеченно ломающее свою клетку, в которую регулярно подносили еду - там, за прутьями, свобода и всяческая справедливость! Гендерная и даже расовая! Выламывай угол, ребята, расшатывай дверь на волю! Пепел Флойда стучит в наши сердца и бьет в голову, прямо в остатки мозгов!
						blockquote
							p
								| Так как Джо технично уклонился от вопроса Трампа по поводу анализов на наркотики, самое время перейти ко второму событию - оно тоже появилось прямо во вторник, перед вечерним шоу.<br>Итак, агентство Reuters сообщило, что американские силовики внезапно узнали, что идущие в разных городах США уже Бог знает сколько дней протесты являются угрозой выборам в ноябре - дескать, слишком много экстремистов на улицах.
						h3
							b
								| Заголовок третьего уровня
						p
							| Так как Джо технично уклонился от вопроса Трампа по поводу анализов на наркотики, самое время перейти ко второму событию - оно тоже появилось прямо во вторник, перед вечерним шоу.<br>Итак, агентство Reuters сообщило, что американские силовики внезапно узнали, что идущие в разных городах США уже Бог знает сколько дней протесты являются угрозой выборам в ноябре - дескать, слишком много экстремистов на улицах.
						img(class="lazyload img-fluid mb-50" data-src="images/Rectangle 20.jpg" alt="img")
						h3
							b
								| Заголовок третьего уровня
						p
							| Так как Джо технично уклонился от вопроса Трампа по поводу анализов на наркотики, самое время перейти ко второму событию - оно тоже появилось прямо во вторник, перед вечерним шоу.<br>Итак, агентство Reuters сообщило, что американские силовики внезапно узнали, что идущие в разных городах США уже Бог знает сколько дней протесты являются угрозой выборам в ноябре - дескать, слишком много экстремистов на улицах.
						img(class="lazyload img-fluid mb-30 d-block mx-auto" data-src="images/gxh4u71ltV 1.png" alt="img")
						h2
							b
								| Заголовок второго уровня
						p
							| Честно говоря, так себе наброс - Донни вечером запросто отобьется от него, просто заявив, что тот, кто не платит в Америке налоги, сидит в тюрьме. И будет абсолютно прав, поскольку что-что, а за это дело в США карают предельно жестко, можно угодить за решетку лет на сорок или больше.<br>Со своей стороны, у Трампа тоже припрятано несколько козырей в рукаве - и одним из них будет вопрос, принимает ли Джо стимулирующие препараты перед предвыборными митингами и дебатами.Тем более, что основания для этого были уже давно - и если Донни прямо во время дебатов полезет искать белые следы под носом у Джо, это будет выглядеть очень эпично, зрители будут в восторге.
						p
							| Так как Джо технично уклонился от вопроса Трампа по поводу анализов на наркотики, самое время перейти ко второму событию - оно тоже появилось прямо во вторник, перед вечерним шоу.<br>Итак, агентство Reuters сообщило, что американские силовики внезапно узнали, что идущие в разных городах США уже Бог знает сколько дней протесты являются угрозой выборам в ноябре - дескать, слишком много экстремистов на улицах.
						p
							| Понятно, что рано или поздно это обязательно должны были обнаружить - тот же Портленд бунтует уже почти четыре месяца. Но все-таки, почему обнаружили так рано? Надо было всполошиться первого ноября, а еще лучше - второго, чтоб уж наверняка.<br>Все эти БЛМ, антифа и просто неравнодушные мародеры - идеальный инструмент для нынешней внутренней политики Америки. Хомячье стадо, увлеченно ломающее свою клетку, в которую регулярно подносили еду - там, за прутьями, свобода и всяческая справедливость! Гендерная и даже расова
					div(class="row mb-40 flex-column flex-lg-row")
						div(class="col-12 col-lg-4")
							<div class="post-aside_author d-flex p-0">
								<a href="#" class="mr-7">
									<img class="lazyloaded" data-src="images/author.png" alt="img" src="images/author.png">
								</a>
								<div class="d-flex flex-column align-items-start">
									<a href="#"><b>Олег Лавров</b></a>
									<span class="text-left p-0">Главный редактор новостного агентства “Рука Кремля”</span>
								</div>
							</div>
						div(class="col-12 col-lg-5 d-flex flex-column flex-lg-row align-items-lg-center")
							<div class="entry-meta d-flex align-tems-center justify-content-lg-center py-3 py-lg-0">
								<div class="d-flex align-items-center">
									<span class="entry-meta-stat d-flex align-items-center">
										<span class="mr-10">
											<i class="icon-view" ></i>
										</span>
										b
											| 1800
									</span>
								</div>
							</div>
							form(class="post-inner__form ml-40 d-flex align-items-center pb-3 pb-lg-0" action="" method="")
								div(class="mr-9 d-flex align-items-center")
									button(type="submit" class="mr-1")
										span(class="icon-like")
									button(type="submit")
										span(class="icon-no-like")
								p(class="font-size-12 m-0")
									b
										| Понравилось 117 людям
						div(class="col-12 col-lg-3 d-flex align-items-center")
							p(class="font-size-14 m-0 mr-2")
								b
									| Поделиться:
							div()
								a(href="#" class="mr-13")
									img(class="lazyload" data-src="images/share-facebook.svg" alt="img")
								a(href="#")
									img(class="lazyload" data-src="images/share-vk.svg" alt="img")
					div(class="row post-inner__comment")
						div(class="col-12")
							div(class="d-flex align-items-center")
								p(class="font-size-12 m-0 mr-2")
									b
										| Комментарии
								span(class="count font-size-12")
									b
										| 69
							<!--Comments-->
							<div class="comments-area pb-80">
								<div class="comment-list">
									<div class="single-comment justify-content-between d-flex">
										<div class="user">
											<div class="thumb d-flex mb-25">
												a(href="#" class="mr-17")
													<img class="lazyload" data-src="images/author-2.png" alt="img">
													span(class="flag" style="background-image: url('images/flag.png')")
												div(class="d-flex flex-column")
													a(class="font-size-12" href="#")
														b
															| Крокодил Лесной
													span(class="font-size-12")
														| 05.10.2020, 10:47
											</div>
											<div class="desc">
												p
													| Недавно на "Звезде" один умный человек сказал простую вещь, что все истории с "отравлениями" "новичком" по сути - одна рекламная компания новичка. С тем, чтобы когда нужно на сцену вышел настоящий новичёк и тогда ни у кого уже не возникало бы вопросов - кто это сделал. "Страшная Россия" - естественно.
												p
													| Но возникает вопрос - где планируется этот удар реальным БОВ?
												p
													| Сирия? Иран? И вот мне пришло в голову, что этот удар планируется в США. Возможно - как раз к выборам. Сотни тысяч жертв (а то и миллионы) - прекрасный повод для легального дефолта по всем долгам. При этом виновата конечно злая Россия, никак не желающая победы истинного демократа на выборах в США.
											</div>
											div(class="pl-20")
												div(class="d-flex align-items-center mb-20")
													a(href="#" class="font-size-12 mr-25")
														b
															| Ответить
													form(class="post-inner__form d-flex align-items-center" action="" method="")
														div(class="mr-9 d-flex align-items-center")
															button(type="submit" class="mr-1")
																span(class="icon-like")
															span(class="mr-1 post-inner__form-count font-size-12")
																b
																	| 69
															button(type="submit")
																span(class="icon-no-like")
												div(class="pl-20")
													<div class="single-comment justify-content-between d-flex">
														<div class="user">
															<div class="thumb d-flex mb-25">
																a(href="#" class="mr-17")
																	<img class="lazyload" data-src="images/author-2.png" alt="img">
																div(class="d-flex flex-column")
																	a(class="font-size-12" href="#")
																		b
																			| Крокодил Лесной
																	span(class="font-size-12")
																		| 05.10.2020, 10:47
															</div>
															<div class="desc">
																p
																	| Крокодил, 👍👍👍🤣🤣🤣
															</div>
															div()
																div(class="d-flex align-items-center")
																	a(href="#" class="font-size-12 mr-25")
																		b
																			| Ответить
																	form(class="post-inner__form d-flex align-items-center" action="" method="")
																		div(class="mr-9 d-flex align-items-center")
																			button(type="submit" class="mr-1")
																				span(class="icon-like")
																			span(class="mr-1 post-inner__form-count font-size-12")
																				b
																					| 69
																			button(type="submit")
																				span(class="icon-no-like")
														</div>
													</div>
										</div>
									</div>
								</div>
								<div class="comment-list">
									<div class="single-comment justify-content-between d-flex">
										<div class="user">
											<div class="thumb d-flex mb-25">
												a(href="#" class="mr-17")
													<img class="lazyload" data-src="images/author-2.png" alt="img">
													span(class="flag" style="background-image: url('images/flag.png')")
												div(class="d-flex flex-column")
													a(class="font-size-12" href="#")
														b
															| Крокодил Лесной
													span(class="font-size-12")
														| 05.10.2020, 10:47
											</div>
											<div class="desc">
												p
													| Недавно на "Звезде" один умный человек сказал простую вещь, что все истории с "отравлениями" "новичком" по сути - одна рекламная компания новичка. С тем, чтобы когда нужно на сцену вышел настоящий новичёк и тогда ни у кого уже не возникало бы вопросов - кто это сделал. "Страшная Россия" - естественно.
											</div>
											div(class="pl-20")
												div(class="d-flex align-items-center mb-20")
													a(href="#" class="font-size-12 mr-25")
														b
															| Ответить
													form(class="post-inner__form d-flex align-items-center" action="" method="")
														div(class="mr-9 d-flex align-items-center")
															button(type="submit" class="mr-1")
																span(class="icon-like")
															span(class="mr-1 post-inner__form-count font-size-12")
																b
																	| 69
															button(type="submit")
																span(class="icon-no-like")
										</div>
									</div>
								</div>
								button(type="button" class="btn btn__comment font-size-14 color-white")
									span(class="icon-pen-tool mr-1")
									b
										| написать комментарий
							</div>
					<div class="related-posts   d-none d-lg-block">
						<h2 class="font-size-24 text-center"><b>Вам может быть интересно</b></h2>
						<div class="row">
							- for (let i = 0; i < 3; i++)
								<div class="col-12 col-lg-4 mb-30">
									<div class="post-thumb post-thumb__post position-relative">
										<div class="thumb-overlay img-hover-slide border-radius-15 position-relative" style="background-image: url(images/thumbnail-7.jpg)">
											<a class="img-link" href="#"></a>
											<div class="post-content-overlay">
												<div class="entry-meta meta-0 mb-10">
													<a href="#">
														<span class="post-cat category-2 color-white font-size-12">шоу</span>
													</a>
												</div>
												<span class="post-title color-white font-size-24 mb-40 d-block"><b>“Танцы разнообразия”</b></span>
												<div class="d-flex align-items-center">
													<span class="entry-meta-stat color-white d-flex align-items-center">
														<span class="mr-10">
															<i class="icon-view" ></i>
														</span>
														| 1800
													</span>
													<span class="ml-30 entry-meta-stat d-flex align-items-center">
														<span class="mr-10">
															<i class="icon-chat"></i>
														</span>
														| 250
													</span>
												</div>
											</div>
										</div>
									</div>
								</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-xl-3 col-md-12 sidebar-right sticky-sidebar">
					<div class="sidebar-widget mb-20  d-none d-lg-block">
						<div class="widget-header position-relative mb-30">
							<div class="row">
								<div class="col-lg-6 col-xl-6">
									<div class="widget-title mb-0 font-size-24">Колонка <span>главного</span></div>
								</div>
								<div class="col-lg-6 col-xl-6 text-right">
									<a class="widget-header__link-more pr-15" href="#"><b>Все статьи</b></a>
								</div>
							</div>
						</div>
						<div class="post-aside-style-1 border-radius-10 p-20 bg-white">
							div(class="post-aside_author d-flex")
								div(class="d-flex flex-column align-items-end")
									a(href="#")
										b
											| Олег Лавров
									span(class="text-right")
										| Главный редактор новостного агентства “Рука Кремля”
								a(href="#")
									img(class="lazyload ml-7" data-src="images/author.png" alt="img")
							<ul class="list-post">
								- for (let i = 0; i < 3; i++)
									<li class="mb-18">
										<div class="d-flex">
											<div class="post-thumb d-flex mr-15 border-radius-5 img-hover-scale">
												<a class="color-white" href="#">
													<img class="lazyload img-fluid" data-src="images/thumbnail-15.jpg" alt="">
												</a>
											</div>
											<div class="post-content media-body">
												<a href="#" class="post-title mb-10 text-limit-2-row font-size-16"><b>Немного о сегодняшней войне в Закавказье</b></a>
											</div>
										</div>
									</li>
							</ul>
						</div>
					</div>
					<div class="sidebar-widget mb-20  d-none d-lg-block">
						<div class="widget-top-auhor border-radius-10 p-20 bg-white">
							<div class="widget-header widget-header-style-1 position-relative mb-15">
								<div class="widget-title">Топ <span>Авторов</span></div>
							</div>
							<a class="red-tooltip active" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Emma - 1034 posts"><img class="lazyload" data-src="images/author-2.png" alt="img"></a>
							<a class="red-tooltip" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Oliver - 245 posts"><img class="lazyload" data-src="images/author-2.png" alt="img"></a>
							<a class="red-tooltip" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Sophia - 356 posts"><img class="lazyload" data-src="images/author-2.png" alt="img"></a>
							<a class="red-tooltip active" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Emili - 152 posts"><img class="lazyload" data-src="images/author-2.png" alt="img"></a>
							<a class="red-tooltip" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Harry - 245 posts"><img class="lazyload" data-src="images/author-2.png" alt="img"></a>
							<a class="red-tooltip" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Noah - 758 posts"><img class="lazyload" data-src="images/author-2.png" alt="img"></a>
							<a class="red-tooltip" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Isabella - 231 posts"><img class="lazyload" data-src="images/author-2.png" alt="img"></a>
							<a class="red-tooltip active" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Charlie - 256 posts"><img class="lazyload" data-src="images/author-2.png" alt="img"></a>
							<a class="red-tooltip" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Amelia - 652 posts"><img class="lazyload" data-src="images/author-2.png" alt="img"></a>
							<a class="red-tooltip active" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Jack - 125 posts"><img class="lazyload" data-src="images/author-2.png" alt="img"></a>
							<a class="red-tooltip" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Elizabeth - 452 posts"><img class="lazyload" data-src="images/author-2.png" alt="img"></a>
							<a class="red-tooltip" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Malcolm - 124 posts"><img class="lazyload" data-src="images/author-2.png" alt="img"></a>
							<a class="red-tooltip" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Abigail - 1245 posts"><img class="lazyload" data-src="images/author-2.png" alt="img"></a>
							<a class="red-tooltip active" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Matthew - 1325 posts"><img class="lazyload" data-src="images/author-2.png" alt="img"></a>
							<a class="red-tooltip" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Genesis - 562 posts"><img class="lazyload" data-src="images/author-2.png" alt="img"></a>
							<a class="red-tooltip active" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Charlie - 256 posts"><img class="lazyload" data-src="images/author-2.png" alt="img"></a>
							<a class="red-tooltip" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Amelia - 652 posts"><img class="lazyload" data-src="images/author-2.png" alt="img"></a>
							<a class="red-tooltip active" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Jack - 125 posts"><img class="lazyload" data-src="images/author-2.png" alt="img"></a>
						</div>
					</div>
					<div class="sidebar-widget widget_newsletter border-radius-10 p-20 bg-white mb-20  d-none d-lg-block">
						<div class="widget-header mb-16">
							<div class="widget-title font-size-16"><b>Будьте всегда в курсе</b></div>
						</div>
						p
							| Читайте нас когда удобно и где удобно!
						div(class="social-area")
							a(href="#" class="social-area__item")
								img(class="lazyload" data-src="images/email.svg" alt="img")
							a(href="#" class="social-area__item")
								img(class="lazyload" data-src="images/yandex.svg" alt="img")
							a(href="#" class="social-area__item")
								img(class="lazyload" data-src="images/telegram.svg" alt="img")
							a(href="#" class="social-area__item")
								img(class="lazyload" data-src="images/vk.svg" alt="img")
					</div>
					<div class="sidebar-widget mb-60">
						<div class="widget-header mb-30">
							<div class="widget-title font-size-24">Самое <span>Популярное</span></div>
						</div>
						<div class="post-aside-style-3">
							<article class="bg-white border-radius-15 mb-30 pt-10 pr-10 pb-15 pl-10 wow fadeIn animated">
								<div class="post-thumb d-flex mb-15 border-radius-15  img-hover-scale">
									<a href="#">
										<video autoplay="" class="photo-item__video" loop="" muted="" preload="none">
											<source src="https://player.vimeo.com/external/210754416.sd.mp4?s=826dbe91a402d3fc239674b6595a0100b2a45098&amp;profile_id=164&amp;oauth2_token_id=57447761" type="video/mp4">
										</video>
									</a>
								</div>
								<div class="pl-10 pr-10">
									<a href="#" class="post-title mb-25 font-size-16 d-block"><b>Пора валить из США</b></a>
									<div class="entry-meta meta-1">
										<a class="post-by font-size-12 mr-34" href="author.html">Олег Лавров</a>
										<span class="post-on font-size-12 mr-34">02/10/2020</span>
									</div>
								</div>
							</article>
							<article class="bg-white border-radius-15 mb-30 pt-10 pr-10 pb-15 pl-10 wow fadeIn animated">
								<div class="post-thumb d-flex mb-15 border-radius-15 img-hover-scale">
									<a href="#">
										<img class="border-radius-15 lazyload" data-src="images/news-20.jpg" alt="">
									</a>
								</div>
								<div class="pl-10 pr-10">
									<a href="#" class="post-title mb-25 font-size-16 d-block"><b>Пора валить из США</b></a>
									<div class="entry-meta meta-1">
										<a class="post-by font-size-12 mr-34" href="author.html">Олег Лавров</a>
										<span class="post-on font-size-12 mr-34">02/10/2020</span>
									</div>
								</div>
							</article>
							<article class="bg-white border-radius-15 mb-30 pt-10 pr-10 pb-15 pl-10  wow fadeIn animated">
								<div class="post-thumb d-flex mb-15 border-radius-15 img-hover-scale">
									<a href="#">
										<img class="border-radius-15 lazyload" data-src="images/news-20.jpg" alt="">
									</a>
								</div>
								<div class="pl-10 pr-10">
									<a href="#" class="post-title mb-25 font-size-16 d-block"><b>“Самая перспективная вакцина против коронавируса в мире”</b></a>
									<div class="entry-meta meta-1">
										<a class="post-by font-size-12 mr-34" href="author.html">Олег Лавров</a>
										<span class="post-on font-size-12 mr-34">02/10/2020</span>
									</div>
								</div>
							</article>
						</div>
					</div>
					<div class="sidebar-widget p-20 border-radius-15 bg-white widget-latest-comments wow fadeIn animated d-none d-lg-block">
						<div class="widget-header mb-15">
							<div class="widget-title">Последние <span>Комментарии</span></div>
						</div>
						<div class="post-block-list post-module-6">
							<div class="last-comment mb-25 d-flex wow fadeIn animated">
								<span class="item-count vertical-align">
									<a class="red-tooltip author-avatar" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Azumi - 985 posts">
										<img class="lazyload img-fluid" data-src="images/author-14.png" alt="img">
									</a>
								</span>
								<div class="alith_post_title_small">
									<a href="#" class="d-block font-size-12">Как всегда все по уму, все по делу. 👍👏 Макрон стал так рьяно тявкать на Россию ещё по одной причине. Крошка собирает коалицию против Эрдогана .....</a>
								</div>
							</div>
							<div class="last-comment mb-25 d-flex wow fadeIn animated">
								<span class="item-count vertical-align">
									<a class="red-tooltip author-avatar" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Harry - 1245 posts">
										<img class="lazyload img-fluid" data-src="images/author-14.png" alt="img">
									</a>
								</span>
								<div class="alith_post_title_small">
									<a href="#" class="d-block font-size-12">Как в старом анекдоте - общемировая забава, раз в 100 лет собраться толпой и охватить люлей от России...</a>
								</div>
							</div>
							<div class="last-comment mb-25 d-flex wow fadeIn animated">
								<span class="item-count vertical-align">
									<a class="red-tooltip author-avatar" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Johny - 445 posts">
										<img class="lazyload img-fluid" data-src="images/author-14.png" alt="img">
									</a>
								</span>
								<div class="alith_post_title_small">
									<a href="#" class="d-block font-size-12">Что то будет... ааа, вот, пусть лучше все будет хорошо😂!!! На самом деле, война и развал Америки под ноль для нас , так же как и развал России для Америки ....</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
