.post-inner {
	.post-aside_author {
		span {
			padding: 0px;
		}
	}
	.post-inner__form {

		button {
			cursor: pointer;
			width: 25px;
			height: 25px;
			border: 0px;
			margin: 0px;
			padding: 4px 5px;
			background: #E5E5E5;

			display: flex;
			align-items: center;
			justify-content: center;
			span {
				display: block;
				height: 14px;
				margin-bottom: 4px;
				&:before {
					font-size: 14px;
				}
			}
		}
		@media (max-width: 991px) {
			margin-left: 0px!important;
		}
	}
	.post-inner__comment {
		.count {
			color: #7E7E7E;
		}
		.comments-area {
			border: 0px;
			margin-top: 0px;
			padding-top: 30px;
			.thumb {
				img {
					width: 35px;
				}
				a {
					position: relative;
					.flag {
						position: absolute;
						bottom: -1px;
						right: -3px;

						width: 15px;
						height: 15px;
						border-radius: 100%;

						background-size: 100%;
						background-repeat: no-repeat;
						background-position: center;
					}
				}
			}
			.post-inner__form {
				button {
					background: none;
					padding: 0px;
					width: 14px;
					height: 14px;
				}
				.post-inner__form-count {
					color: #00A006;
				}

			}
		}
	}
	.related-posts {
		h2 {
			padding-bottom: 30px;
			border-bottom: 1px solid #000000;
			margin-bottom: 55px;
		}
		.img-hover-slide {
			min-height: 350px;
		}
	}
}
.post-thumb:hover .img-hover-slide {
	background-position: center;
}
