@import "variables/_variables";

/*Import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&family=Roboto&display=swap');

/* Import third party CSS library */

@import "template/vendor/bootstrap.min.css";
@import "template/vendor/owl.carousel.min.css";
@import "template/vendor/ticker-style.css";
@import "template/vendor/slicknav.css";
@import "template/vendor/animate.min.css";
@import "template/vendor/magnific-popup.css";
@import "template/vendor/themify-icons.css";
@import "template/vendor/slick.css";
@import "template/vendor/nice-select.css";
@import "template/vendor/perfect-scrollbar.css";

@import "template/style.scss";
@import "template//widgets.css";
@import "template/color.scss";
@import "template/responsive.css";

// Мое
@import "default/_default";
@import "fonts/_fonts";
@import "icon/_icon";
@import "indent/_indent";
@import "header/_header";
@import "social/_social";
@import "post/_post";
@import "button/_button";
@import "author/_author";
@import "pagination/_pagination";
@import "footer/_footer";


.bggray{
	background: #1A1A1A;
	color:#fff;
}
.main-header .main-nav ul li a{
	color: #fff;
}
.sticky-bar {
	background: #1A1A1A;
}


.featured-post {
	.widget-title {
		font-size: 24px;
		line-height: 29px;
		color: #1A1A1A;
	}
}


.entry-meta {
	.post-in {
		display: inline-block;
		font-size: 16px!important;
		line-height: 19px!important;
		font-weight: normal!important;
		border-radius: 10px!important;
		text-transform: none!important;
		&.category-1 {
			border: 1px solid #4D76A1;
			color: #4D76A1;
		}
		&.category-2 {
			border: 1px solid #039BE5;
			color: #039BE5;
		}
		&.category-3 {
			border: 1px solid #FEA832;
			color: #FEA832;
		}
		&.category-4 {
			border: 1px solid $colorBgMain;
			color: $colorMain;
		}
		&.category-text-1 {
			color: #4D76A1;
		}
		&.category-text-2 {
			color: #039BE5;
		}
		&.category-text-3 {
			color: #FEA832;
		}
		&.category-text-4 {
			color: $colorMain;
		}
	}
	.entry-meta-stat {
		font-size: 12px;
		line-height: 15px;
		color: #000000;
		margin: 0px;
		padding: 0px;
		i {
			font-size: 18px;
		}
	}
	&.meta-2  {
		.author-name {
			font-size: 14px;
			line-height: 17px;
			color: #7E7E7E;
		}
		.author-add {
			font-size: 12px;
			line-height: 14px;
			text-transform: uppercase;
			color: #7E7E7E;
		}
	}
	.post-by, .post-on, .time-reading {
		color: #7E7E7E;
	}
}


.post-aside_author {
	padding-bottom: 35px;
	a {
		font-size: 12px;
		line-height: 15px;
		color: #000000;
	}
	span {
		font-size: 12px;
		line-height: 14px;
		color: #7E7E7E;
		margin: 0px;
		padding: 0px;
		padding-left: 20px;
		@media (max-width: 991px) {
			padding-left: 40px;
		}
	}
}
.sidebar-widget {
	p {
		color: #7E7E7E;
		padding: 0px 0px 20px 0px;
		margin: 0px;
	}
}
.widget-header__link {
	font-size: 14px;
	line-height: 17px;
	color: #7E7E7E;
}


.post-thumb {
	&.post-thumb__post {
		.thumb-overlay {
			display: flex;
			align-items: flex-end;
			a {
				z-index: 3;
			}
			&.img-hover-slide {
				min-height: 350px;
			}
		}
		.post-content-overlay {
			padding: 18px 18px 25px 18px;
			position: relative;
			z-index: 2;
			width: 100%;
			bottom: 0px;
			transition: 0.5s;
			.post-title {
				max-height: 120px;
				overflow: hidden;
			}
		}
		.post-cat {
			padding: 3px 2px!important;
			width: 84px;
			border-radius: 10px!important;
			display: inline-block;

			font-weight: 400!important;
			text-align: center;
			&.category-1 {
				background: #4D76A1;
			}
			&.category-2 {
				background: #039BE5;
			}
			&.category-3 {
				background: #FEA832;
			}
			&.category-4 {
				background: $colorMain;
			}
		}
		.entry-meta-stat {
			font-size: 12px!important;
			color:#fff;
			i {
				&:before {
					font-size: 14px!important;
					color:#fff;
				}
			}
		}
		&:hover {
			.post-content-overlay {
				bottom: 10px;
				transition: 0.5s;
			}
		}
	}
	.img-hover-slide {
		@media (max-width: 991px) {
			min-height: 340px!important;
		}
	}
}
.last-comment {
	.alith_post_title_small {
		a {
			font-weight: 300;
			line-height: 14px!important;
		}
	}
}

.widget-top-auhor {
	a {
		@media (max-width: 991px) {
			margin: 3px;
		}
		img {
			width: 50px;
			height: 50px;
		}
	}
	&.widget-top-auhor {
		a {
			img {
				width: 35px;
				height: 35px;
				@media (max-width: 991px) {
					width: 50px;
					height: 50px;
				}
			}
		}
	}
}
.thumb-overlay::before {
	background: linear-gradient(0deg, #000000 0%, rgba(255, 255, 255, 0) 100%);
}
.breadcrumb span::before {
	content: "\203A";
	font-size: 20px;
	font-family: Gilroy;
}
.archive-header h1 span.post-count {
	font-size: 13px;
	font-weight: 500;
	position: absolute;
	background: #fff;
	display: inline-block;
	padding: 5px 20px;
	margin-left: 15px;
	border-radius: 30px;
	border: 1px solid #abd7ab;
	color: #98ca98;
	@media (max-width: 991px) {
		position: unset;
	}
}


.category-item {
	.post-thumb {
		width: 250px;

		@media (max-width: 991px) {
			width: unset;
			img {
				display: block;
				margin: 0 auto;
			}
		}
	}
}
.widget_categories li.cat-item a {
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;

	color: #7E7E7E;
}
