.main-header .main-nav ul li {
	a {
		font-family: "Gilroy";
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		color: #FFFFFF;
		@media (max-width: 1200px) {
			font-size: 14px;
		}
	}
	&.active {
		a {
			color: $colorMain;
			&:after {
				width: 50px;
			}
		}

	}
	&>a {
		&:after {
			top: 0px;
		}
	}
}
.main-menu>li {
	padding: 0px 35px 0px 0px;
	&:last-child {
		padding: 0px;
	}
	@media (max-width: 1500px) {
		padding-right: 15px;
	}
}
.sub-mega-menu {
	&.sub-menu-list {
		li {
			color: #1a1a1a!important;
			font-family: Gilroy;
			font-size: 16px;
			a {
				color: #1a1a1a!important;
				&:hover {
					color: $colorMain!important;
				}
			}
			&.active {
				a {
					color: $colorMain!important;
				}
			}
		}
	}
}
.slicknav_nav {
	a {
		font-family: Gilroy;
		font-size: 14px;
	}
	@media (max-width: 991px) {
		-webkit-column-count: 2!important;
		-moz-column-count: 2!important;
		column-count: 2!important;
	}
}

.user-log {
	font-size: 10px;
	margin-left: 50px;
	a {
		padding: 0px;

		font-size: 12px;
		line-height: 14px;
		color: #FFFFFF;
	}
	.icon-user {
		font-size: 23px;
	}
	@media (max-width: 1250px) {
		margin-left: 15px;
	}
	@media (max-width: 991px) {
		margin-left: 50%;
	}
	@media (max-width: 600px) {
		margin-left: 30%;
	}
	@media (max-width: 450px) {
		margin-left: 60px;
	}
	@media (max-width: 370px) {
		margin-left: 10px;
	}
}
#off-canvas-toggle {
	top: 4px;
	width: 16px;
	height: 16px;
	position: relative;
	span {
		width: 7px;
		height: 7px;
		border: 1px solid #fff;
		position: absolute;
		&:after, &:before { display: none; }
		&:nth-child(1) {
			top: 0px;
			left: 0px;
		}
		&:nth-child(2) {
			right: 0px;
			top: 0px;
		}
		&:nth-child(3) {
			left: 0px;
			bottom: 0px;
		}
		&:nth-child(4) {
			right: 0px;
			bottom: 0px;
		}
	}
}
span.notification {
	background-color: $colorMain;
	right: -20%;
	top: -20%;
}
.search-form {
	margin-left: 98px;
	margin-right: 30px;
	button {
		cursor: pointer;

		padding: 0px;
		margin: 0px;
		background: none;
		border: 0px;

		position: absolute;
		right: 10px;
		top: 0px;
		bottom: 0px;
	}
	@media (max-width: 1350px) {
		margin-left: 30px;
	}
	@media (max-width: 1200px) {
		margin-right: 10px;
	}
}

.main-header-navigation {
	@media only screen and (max-width: 480px){
		position: unset;
	}
}
.slicknav_menu {
	.slicknav_menutxt {
		font-family: Gilroy;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 21px;
		color: #FFFFFF;
	}
	.slicknav_btn {
		display: flex;
		align-items: center;
		top: 19px;
		@media (max-width: 991px) {
			right: 0px;
		}
	}
	.slicknav_icon {
		width: 25px;
		display: block;
		.ti-menu-alt:before,
		.ti-close:before {
			display: none;
		}
	}
}

.widget-header {
	.widget-title {
		font-family: Gilroy;
		font-size: 20px;
		font-weight: 800;
		color: #1A1A1A;
		span {
			font-weight: 400;
		}
	}
}
.list-post {
	.post-title {
		a {
			font-family: Gilroy;
			font-size: 18px;
			font-weight: 600;
		}
	}
}
.widget-header__link-more {
	font-size: 14px;
	line-height: 17px;
	color: #7E7E7E;
	@media (max-width: 1300px) {
		font-size: 12px;
	}
}
