
.pb-18			{ padding-bottom: 18px; }
.pb-24 			{ padding-bottom: 24px; }
.pb-30			{ padding-bottom: 30px; }
.pb-50			{ padding-bottom: 50px; }
.pb-80			{ padding-bottom: 80px; }

.mt-m-30		{ @media (max-width: 991px) { margin-top: 30px!important; } }

.mr-7			{ margin-right: 7px; }
.mr-9			{ margin-right: 9px; }
.mr-13			{ margin-right: 13px; }
.mr-17			{ margin-right: 17px; }

.mr-m-0			{ @media (max-width: 991px) { margin-right: 0px!important; } }
.mr-md-15		{ @media (min-width: 767px) and (max-width: 991px) { margin-right: 15px!important; } }



.mb-16			{ margin-bottom: 16px; }
.mb-18			{ margin-bottom: 18px; }
.mb-25			{ margin-bottom: 25px; }
.mb-28			{ margin-bottom: 28px; }
.mb-32			{ margin-bottom: 32px; }
.mb-60			{ margin-bottom: 60px; }
.mb-70			{ margin-bottom: 70px; }
.mb-120			{ margin-bottom: 120px; }
.mb-m-10		{ @media (max-width: 991px) { margin-bottom: 10px!important; } }
.mb-m-20		{ @media (max-width: 991px) { margin-bottom: 20px!important; } }
.mb-m-30		{ @media (max-width: 991px) { margin-bottom: 30px!important; } }
.mb-m-40		{ @media (max-width: 991px) { margin-bottom: 40px!important; } }

.mr-34			{ margin-right: 34px; }

.ml-7			{ margin-left: 7px; }
.ml-20			{ margin-left: 20px; }
.ml-98 			{ margin-left: 98px; }
.ml-lg-0			{ @media (max-width: 1200px) { margin-left: 0px!important; } }
